<div class="container mt-4">
    <h4>Editar Cliente</h4>
    <hr>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Fecha de Creacion</th>
                    <th scope="col">Fecha de Actualizacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of clientes">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.identificacion}}</td>
                    <td>{{item.nombres}}</td>
                    <td>{{item.apellidos}}</td>
                    <td> {{item.correo}} </td>
                    <td> {{item.celular}} </td>
                    <td> {{item.fechaCreacion}} </td>
                    <td> {{item.fechaActualizacion}} </td>
                    <td> {{item.estado}} </td>
                    <td> 
                        <button type="button" class="btn btn-primary">
                            Actualizar
                        </button>
                        
                    </td>
                </tr>
            </tbody>
          </table>
          
      </div>
    </div>
  </div>